In [ ]:
print("hello")
#this is a comment which can be ignored by interpreter

hello

Basic program of the python

In [2]:
print("hello akhil welcome to python")
print("this is full course of the python basic to advanced ")
#this is a comment which can be ignored by interpreter
"""this is a multi line comment
which can be ignored by interpreter"""

hello akhil welcome to python
this is full course of the python basic to advanced

'this is a multi line comment\nwhich can be ignored by interpreter'

variable and namenclature

In [ ]:
num="hello"
num1="akhil"
RamIshwor="689"
Ramishwor="55"
variable_name="name"
$num="hey" #this is not allowed name of the variables 
n@num="jack"

SyntaxError: invalid syntax (3987977481.py, line 6)

In [5]:
#
# program of the variable #

num=5
num1=6
print(type(num))
print(type(num1))   # type() function to check out the data type of that variables name 
str="hello moh"
print(type(str))

<class 'int'>
<class 'int'>
<class 'str'>

In [6]:
snanke_case="snake_case"
camelCase="camelCase"
PascalCase="PascalCase"
type(snanke_case) # this is a snake case
type(camelCase) # this is a camel case  
type(PascalCase) # this is a pascal case

str

Data types in python

In [8]:
# it has 3 data types
# 1.Number
# .integer, float, complex
# 2.String
# 3. Boolean

num=3
num1=3.5
num2=3+5j
print(type(num))  # <class 'int'>
print(type(num1)) # <class 'float'> 
print(type(num2)) # <class 'complex'>
num4=True;
print(type(num4)) # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [11]:
chr(65) # it will return the character of the ascii value
str="hello"
print(str[::-1])

olleh

String Indexing part    and slicing

In [ ]:
str="puja i love you"
print(len(str))
print(str[1:15:2])
print(str[::]) # it will return the string in reverse order

15
uailv o
puja i love you

In [16]:
#inverse string in python
str="janakpurDhaam"
print(str[::-1]) # it will return the string in reverse order

maahDrupkanaj

In [19]:
#implicit program 
# num=8
# num1=9.5
# sum= num+num1
# print(sum) #

#explicit program
num=8  
num1=float(num)  #explicit conversion of the data type
print(type(num1))

<class 'float'>

formate Sttring

In [24]:
# num="Akhil"
# age=20
# print(f"you's name is {num} and your age is {age}") 

# another example of f-string

age=24
name="akhil"
message=f"my name is {name} and my age is {age}"
print(f"your message is {message}   ")

your message is my name is akhil and my age is 24

In [ ]:
#revision time 
ord('A')
chr(65)
str="RAM"
for i in str:
    print(ord(i), end=" ")  # it will print the character of the string in the same line

# implicit coversion

82 65 77

TypeError: can only concatenate str (not "int") to str

Operator in Python

In [11]:
#Airhtmatic # Operator in Python
# +, -, *, /, %, //, **
num1=5
num2=6
print(num1+num2)  # addition
print(num1-num2)  # subtraction 
print(num1*num2)  # multiplication
print(num1/num2)  # division
print(num1%num2)  # modulus
print(num1//num2)  # floor division
print(num1**num2)  # exponentiation

11
-1
30
0.8333333333333334
5
0
15625