In [ ]:
print("hello")
#this is a comment which can be ignored by interpreter

hello

Basic program of the python

In [2]:
print("hello akhil welcome to python")
print("this is full course of the python basic to advanced ")
#this is a comment which can be ignored by interpreter
"""this is a multi line comment
which can be ignored by interpreter"""

hello akhil welcome to python
this is full course of the python basic to advanced

'this is a multi line comment\nwhich can be ignored by interpreter'

variable and namenclature

In [ ]:
num="hello"
num1="akhil"
RamIshwor="689"
Ramishwor="55"
variable_name="name"
$num="hey" #this is not allowed name of the variables 
n@num="jack"

SyntaxError: invalid syntax (3987977481.py, line 6)

In [5]:
#
# program of the variable #

num=5
num1=6
print(type(num))
print(type(num1))   # type() function to check out the data type of that variables name 
str="hello moh"
print(type(str))

<class 'int'>
<class 'int'>
<class 'str'>

In [6]:
snanke_case="snake_case"
camelCase="camelCase"
PascalCase="PascalCase"
type(snanke_case) # this is a snake case
type(camelCase) # this is a camel case  
type(PascalCase) # this is a pascal case

str

Data types in python

In [8]:
# it has 3 data types
# 1.Number
# .integer, float, complex
# 2.String
# 3. Boolean

num=3
num1=3.5
num2=3+5j
print(type(num))  # <class 'int'>
print(type(num1)) # <class 'float'> 
print(type(num2)) # <class 'complex'>
num4=True;
print(type(num4)) # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [11]:
chr(65) # it will return the character of the ascii value
str="hello"
print(str[::-1])

olleh

String Indexing part    and slicing

In [ ]:
str="puja i love you"
print(len(str))
print(str[1:15:2])
print(str[::]) # it will return the string in reverse order

15
uailv o
puja i love you

In [16]:
#inverse string in python
str="janakpurDhaam"
print(str[::-1]) # it will return the string in reverse order

maahDrupkanaj

In [ ]:
#implicit program 
# num=8
# num1=9.5
# sum= num+num1
# print(sum) #

#explicit program
num=8  
num1=float(num)  #explicit conversion of the data type
print(type(num1))

<class 'float'>

formate Sttring

In [24]:
# num="Akhil"
# age=20
# print(f"you's name is {num} and your age is {age}") 

# another example of f-string

age=24
name="akhil"
message=f"my name is {name} and my age is {age}"
print(f"your message is {message}   ")

your message is my name is akhil and my age is 24

In [ ]:
#revision time 
ord('A')
chr(65)
str="RAM"
for i in str:
    print(ord(i), end=" ")  # it will print the character of the string in the same line

# implicit coversion

82 65 77

TypeError: can only concatenate str (not "int") to str

Operator in Python

In [12]:
#Airhtmatic # Operator in Python
# +, -, *, /, %, //, **
num1=30
num2=6
print(num1+num2)  # addition
print(num1-num2)  # subtraction 
print(num1*num2)  # multiplication
print(num1/num2)  # division
print(num1%num2)  # modulus
print(num1//num2)  # floor division
print(num1**num2)  # exponentiation

36
24
180
5.0
0
5
729000000

In [ ]:
print(True and bool(0))

False
False

#Conditional statement 
# if, elif, else

In [18]:
a=13
if a>10:
    print("I will do task A")
else:
    print("I will do task B")

I will do task A

In [22]:
money=int(input("please provide me the money:"))
if money==10:
    print("i will have a choco bar icecream")
elif money==20:
    print("i will have a chocolate icecream")
else:
    print("i will have a mango dolly")

i will have a mango dolly

Exercise

In [ ]:
#1 accept two numbers and print the gratest between them.
num1=int(input("please enter the first number:"))
num2=int(input("please enter the second number:"))
if num1>num2:
    print(f"The greater number is  {num1}")
else:
    print(f"The greater number is  {num2}")

The greater number is num2 25

In [31]:

#2 Accept the gender form the use as char and print the respective greeting message
gender=input("Enter the gender :")
if gender=="male":
    print("Good Morning Sir")
elif gender=="female":
    print("Good Morning Maam:")
else:
    print("Something is error")

Something is error

In [37]:
#3 Accepts an integer and check whether it is an even number or odd
num1=int(input("Enter the number from user:"))
if num1%2==0:
    print("Even numbers :")
else:
    print("Odd numbers :")

Even numbers :

In [39]:
#4 Accepts name and age from the  user . Check if the user is a valid voter or not 
name=input("Enter the user name")
age=int(input("Enter user age"))
if age>=18:
    print(f"Hello {name} you are valid voter")
else:
    print(f"Hello {name} are not a valid voter")

Hello shyam you are valid voter

In [2]:
#!Accept a leap year and check if it a leap year or not 
year=int(input("Enter a year"))
if(year%4==0 and year%100!=0) or (year%400==0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2023 is not a leap year

In [3]:
#write a program of greater number between three numbers
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
num3=int(input("Enter the third number:"))
if(num1>num2 and num1>num3):
    print(f"{num1} is the greatest number")
elif(num2>num1 and num2>num3):
    print(f"{num2} is the greatest number")
else:
    print(f"{num3} is the greatest number")

20 is the greatest number

For Loop in python

In [3]:
num=7
for i in range(1,num):
    print(i)

1
2
3
4
5
6

looping : looping in python allows as execute a block of code multiple times without rewriting it .
types of loop
1.for loop
2.while loop

In [5]:
#example of looping
for i in range(1, 11):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world