In [ ]:
print("hello")
#this is a comment which can be ignored by interpreter

hello

Basic program of the python

In [2]:
print("hello akhil welcome to python")
print("this is full course of the python basic to advanced ")
#this is a comment which can be ignored by interpreter
"""this is a multi line comment
which can be ignored by interpreter"""

hello akhil welcome to python
this is full course of the python basic to advanced

'this is a multi line comment\nwhich can be ignored by interpreter'

variable and namenclature

In [ ]:
num="hello"
num1="akhil"
RamIshwor="689"
Ramishwor="55"
variable_name="name"
$num="hey" #this is not allowed name of the variables 
n@num="jack"

SyntaxError: invalid syntax (3987977481.py, line 6)

In [5]:
#
# program of the variable #

num=5
num1=6
print(type(num))
print(type(num1))   # type() function to check out the data type of that variables name 
str="hello moh"
print(type(str))

<class 'int'>
<class 'int'>
<class 'str'>

In [6]:
snanke_case="snake_case"
camelCase="camelCase"
PascalCase="PascalCase"
type(snanke_case) # this is a snake case
type(camelCase) # this is a camel case  
type(PascalCase) # this is a pascal case

str

Data types in python

In [8]:
# it has 3 data types
# 1.Number
# .integer, float, complex
# 2.String
# 3. Boolean

num=3
num1=3.5
num2=3+5j
print(type(num))  # <class 'int'>
print(type(num1)) # <class 'float'> 
print(type(num2)) # <class 'complex'>
num4=True;
print(type(num4)) # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [11]:
chr(65) # it will return the character of the ascii value
str="hello"
print(str[::-1])

olleh

String Indexing part

In [14]:
str="puja i love you"
print(len(str))
print(str[1:15:2])

15
uailv o