#Easy Level
#1

In [2]:
#Even or Odd Numbers 
num=int(input("Enter a number:"))
if(num%2==0):
    print(f"{num} is an even numbers")
else:
    print(f"{num} is an odd numbers")

5 is an odd numbers

In [4]:
#positive, Negative or Zero
num=int(input("Enter a number"))
if(num>0):
    print(f"{num} is a positive numbers")
elif(num<0):
    print(f"{num} is a negative numbers ")
else:
    print(f"{num} is a zero number ")

-10 is a negative numbers

In [5]:
#Maximum of two numbers 
num1=int(input("Enter first numbers:"))
num2=int(input("Enter the second numbers :"))
if(num1>num2):
    print(f"{num1} is maximum number")
else:
        print(f"{num2} is maximum number")

20 is maximum number

In [6]:
#check a leap year
year=int(input("Enter a leap year:"))
if(year%4==0 and year%100!=0) or(year%400==0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

2025 is not a leap year

In [ ]:
#sum of first N Natural numbers 
num=int(input("Enter a number:"))
sum=0
for i in range(num+1):
    sum=sum+i
print(f"{sum} is a sum of first N natural numbers :")

15 sum of first N natural numbers :

In [9]:
#Multiplication tables
num=int(input("enter a number"))
print("The multiplications tables is :")
for i in range(1,11):
    print(num,"*",i, "==" , num*i )

The multiplications tables is :
3 * 1 == 3
3 * 2 == 6
3 * 3 == 9
3 * 4 == 12
3 * 5 == 15
3 * 6 == 18
3 * 7 == 21
3 * 8 == 24
3 * 9 == 27
3 * 10 == 30

In [18]:
#factorial numbers
num=int(input("Enter a numbers:"))
factorial=1
if num<0 :
    print("you have enter a wrong number")
else:
    
    for  i in range (1,num+1):
      factorial=factorial*i
    print(f"{num} is factorial of the {factorial}")

6 is factorial of the 720

medium level

In [22]:
#prime numbers
num=int(input("Enter a number from user:"))
count=0
for i in range(1,num+1):
    if(num%i==0):
        count+=1
if(count==2):
    print(f"{num} is a prime numbers:")
else:
    print(f"{num} is not a prime numbers :")

9 is not a prime numbers :

In [ ]:
#count the digits
num=int(input("Enter a number "))
count=0
while(num>0): 
      
    num=num//10
    count+=1
print(f"the number of digits is {count}")

the number of digits is 1

In [34]:
#Some of the digit
num=int(input("Enter a number:"))
sum=0
while(num>0):
    digit=num%10
    sum+=digit
    num=num//10
print(f"The sum of the digit is {sum}")

The sum of the digit is 10

In [ ]:
#Palindrome number
num=int(input("Enter a number:"))
reverse=0   
num1=num
while(num>0):
    digit=num%10
    reverse=reverse*10+digit
    num=num//10
if(num1==reverse):
    print(f"{num1} is a palindrome number")
else:
    print(f"{num1} is not a palindrome number")

123 is not a palindrome number

In [43]:
#Armstrong number
num=int(input("Enter a number:"))
sum=0
num1=num 
order=len(str(num1))   
while(num>0):
    digit=num%10
    
    sum+=digit**order
    num=num//10
    
    

if(num1==sum):
    print(f"{num1} is an Armstrong number")
else:
    print(f"{num1} is not an Armstrong number")

9474 is an Armstrong number

In [48]:
#print a right andle traingle
num=int(input("Enter a number:"))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("* ",end="")
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [ ]:
#fibonacci series
num=int(input("Enter a number:"))
a=0
b=1
if num<=0:
    print("Please enter a positive number")
elif num==1:
    print(f"Fibonacci series upto {num} is {a}")
else:
    print(f"Fibonacci series upto {num} is:")
    print(a, end=" ")
    print(b, end=" ")
    for i in range(2, num+1):
        c = a + b
        print(c, end=" ")
        a = b
        b = c

Fibonacci series upto 5 is:
0 1 1 2 3 5

PATTERN CODING

1  
12  
123  
1234  
12345

In [3]:
for i in range (1,6):
    for j in range (1,i+1):
        print(j,end="")
    print("")

1
12
123
1234
12345

54321  
4321  
321  
21  
1  
reverse of the patter

In [7]:
for i in range (5,0,-1):
    for j in range (i,0,-1):
        print(j,end="")
    print("")

54321
4321
321
21
1

    1  
   121  
  12321  
 1234321  
123454321

In [9]:
#pascal pyramid
#     1  
#    121  
#   12321  
#  1234321  
# 123454321  
num = 5 
for i in range(num):
    for j in range(num-i-1):
        print(" ", end="")
    for j in range(1, i+2):
        print(j, end="")
    for j in range(i, 0, -1):
        print(j, end="")
    print()

    1
   121
  12321
 1234321
123454321